.Dashboard {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-around;
  margin-top: 60px;
  gap: 30px;
}

.Dashboard > div {
  width: 100%;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* ---------------- */
.Box {
  padding: 20px;
  box-sizing: border-box;
}

.Box > div {
  padding: 20px;
  text-align: left;
  box-sizing: border-box;
}

/* ------ Box 2 --------- */
.Buttons {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}

.Buttons > button {
  border-color: grey;
  background: teal;
  color: #ffffff;
  border-radius: 16px;
  font-size: 18px;
  padding: 8px 20px;
  cursor: pointer;
}

.Buttons > button:last-child {
  background: red;
}

/* ------- Box 3 -------- */

.Button {
  margin-top: 60px;
  border-color: grey;
  background: #181c47;
  color: #ffffff;
  border-radius: 16px;
  font-size: 18px;
  padding: 8px 20px;
  cursor: pointer;
}

.Modal {
  position: fixed;
  top: 16vh;
  width: 60%;
  height: 66vh;
  background: #ffffff;
  left: 45vh;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow-x: scroll;
  padding: 8px;
  display: none;
  border: 3px dotted grey;
}

.closeButton {
  background: red;
  position: fixed;
  border-color: grey;
  color: #ffffff;
  border-radius: 16px;
  cursor: pointer;
  float: right;
  padding: 5px 10px;
  z-index: 10;
  margin-left: 54%;
  margin-top: -20px;
}

.ModalVideo {
  display: flex;
  width: 100%;
  gap: 5px;
  justify-content: space-around;
  padding: 0px;
  align-items: center;
  margin-left: 835px;
}

.ModalVideo > div {
  border: 1px solid grey;
  border-radius: 3px;
}

.ModalVideo > div > p {
  padding: 0px;
  margin-left: 5px;
  font-weight: bold;
}

.SessionDataVideo {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
  justify-content: space-around;
  gap: 24px;
}

.SessionDataVideo > div {
  border: 1px solid grey;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
}
.backButton {
  position: fixed;
  top: 2rem;
  left: 4rem;
  background: #000;
  color: #ffffff;
  border-color: grey;
  border-radius: 8px;
  padding: 6px 10px;
  cursor: pointer;
}
@media all and (min-width: 0px) and (max-width: 1000px) {
  .Dashboard {
    display: flex;
    flex-direction: column;
  }
  .Modal {
    width: 90%;
    height: 50vh;
    left: 5vh;
  }
  .closeButton {
    margin-left: 70%;
  }
  .SessionDataVideo {
    grid-template-columns: repeat(1, 1fr);
  }
}
